.share_btn {
	position: absolute;
	top: 20px;
	left: 16px;
	z-index: 1
}

.share_btn i {
	font-size: 20px
}

.cursor-pointer {
	cursor: pointer
}

.user-select-none {
	user-select: none
}

.mdui-theme-layout-dark .content-document-content-top-search-div {
    color: #fff!important;
    border: 1px solid hsla(0,0%,100%,.12)!important;
}

.content-document-content-top-search {
    color: rgba(0,0,0,.87)!important;
    background-color: #fff!important;
}

.mdui-theme-layout-dark .content-document-content-top-search {
	color: #fff!important;
    background-color: #303030!important;
}

.mdui-theme-layout-dark .content-document-content-top-search-input{
	color: #fff!important;
	caret-color: #fff!important;
}

.mdui-textfield-counter {
	padding-right: 15px!important
}

.badges {
	/*display: inline;
	position: relative;
	border-radius: 4px;
	text-shadow: none;
	text-align: center;
	font-size: 9px;
	color: #fff;
	vertical-align: center;
	height: 100%;
	top: -3px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px*/
	display: inline;
    position: relative;
    border-radius: 4px;
    text-shadow: none;
    text-align: center;
    font-size: 9px;
    color: #fff;
    height: 15px;
    top: -1px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
	margin-left: 3px;
}

.content-top-tips-box-shadow {
	box-shadow: 0 0 black;
}

.mc-drawer {
	display: block!important
}

.mdui-card-menu {
	z-index: auto!important
}

.mdui-card-menu button {
	z-index: 3!important
}

.recycle-list-padding-top {
	padding-top: 45px
}

.weblogin-tips-padding-top {
	padding-top: 95px!important
}

.drawer-list-item-avatar {
	max-width: 25px;
	min-width: 25px;
	height: 25px
}

.mdui-drawer .mdui-list {
	padding: 0 0!important
}

.doc-register-privacy-agreement-title {
	opacity: 0
}

.mdui-table-small {
	max-width: 130px!important
}

.mdui-table-big {
	min-width: 200px!important
}

.copyright p {
	font-size: 11px
}

@media(min-width:599px) {
	.mdui-textfield-expanded {
		width: 30%!important
	}
}

@media(max-width:599px) {
	.mdui-dialog-report {
		top: 0;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		height: 100%;
		border-radius: 0
	}
	.marquee {
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee-cont{
    display: inline-block;
	width: 200px;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
}

.content-user-list-greet-background {
	height: 150px!important
}

.content-user-list-invitation-code-background {
	height: 90px!important
}

.card-show {
	overflow: visible
}

.icon-dense {
	font-size: 20px
}

.mdui-card-content {
	padding: 0
}

.mdui-card-header-title {
	margin-left: 0
}

.mc-user-edit-dialog-title {
	padding: 10px!important;
	position: relative
}

.mc-user-edit-close-btn {
	margin-right: 10px
}

td {
	white-space: pre-wrap
}

.content-border-radiu-btn {
	border-radius: 100px
}

.content-about {
	margin: 0;
	width: 350px;
	padding: 10px 0 0 16px
}

.content-about-img {
	width: 70px!important;
	height: 70px!important;
	border-radius: 100px!important;
	left: 0!important
}

.content-about-h4 {
	font-size: 20px;
	margin-block-start: .5em!important;
	margin-block-end: .3em!important
}

.content-about-p {
	font-size: 15px;
	margin-block-start: 0
}

.loading-layout-center {
	height: 100vh;
	display: flex;
	align-items: center!important
}

.new-doc-key {
	width: 100%;
	margin-right: 20px
}

.content-about-contact {
	margin: 0;
	width: 300px;
	padding: 10px
}

.dialog-table-fluid {
	box-shadow: 0 0 black!important
}

.mdui-card-header-subtitle {
	font-size: 10px;
	margin-left: 0
}

.subtitle-icon-text {
	font-size: 13px;
	margin-bottom: 2px
}

.mdui-grid-list {
	margin: 0 0 16px 16px
}

.mdui-col {
	padding: 16px 16px 0 0!important
}

.mdui-col {
	padding: 16px 16px 0 0!important
}

.drawer-title-text {
	position: absolute;
	bottom: 0;
	margin-left: 5px;
	margin-bottom: 40px;
	font-size: 15px;
	text-shadow: 0.8px 0.8px 0.8px #000000b5;
}

.drawer-subtitle-text {
	position: absolute;
	bottom: 0;
	margin-left: 5px;
	margin-bottom: 20px;
	font-size: 13px;
	text-shadow: 0.8px 0.8px 0.8px #000000b5;
}

.avatar-img {
	position: absolute;
	height: 60px;
	width: 60px!important;
	bottom: 0;
	margin-left: 0;
	margin-bottom: 63px;
	border-radius: 100px
}

.fab-up {
	border-radius: 100px;
	z-index: 5101;
	opacity: 100
}

.mdui-dialog {
	z-index: 5102
}

.content-text {
	position: relative
}

.content-text img {
	position: relative;
	border-radius: 10px;
	width: 80%;
	left: 10%
}

a {
	text-decoration: none!important
}

.mc-account-div {
	padding: 0 40px 62px
}

.content-text h4 {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
	font-weight: 400;
	margin-block-start: 1em;
	margin-block-end: .5em;
	margin-inline-start: 0;
	margin-inline-end: 0
}

.top-div {
	position: relative
}

.app-screenshots-box {
	white-space: nowrap;
	overflow-y: hidden;
	border-radius: 2px
}

.app-screenshots-box-img {
	display: inline-block
}

.app-screenshots-box-img img {
	width: 150px;
	border-radius: 2px
}

.top-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 30px
}

.top-image {
	height: 280px;
	width: 100%;
	object-fit: cover
}

@font-face {
	font-family:'yunchu-font';src:url('https://cdn.jsdelivr.net/gh/0047ol/yunchu@master/assets/font/yunchu-font-2.0.ttf')
}

.top-tle {
	font-size: 26px;
	/*color: white;*/
	font-family: 'yunchu-font';
	text-align: center;
	position: relative;
	line-height: .2
}

.top-sub {
	font-size: 16px;
	/*color: white;*/
	text-align: center;
	position: relative;
	margin-block-start: 1em;
	margin-block-end: 1.5em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-family: 'Roboto'
}

.down-btn {
	width: 120px
}

.qrcode-box {
	border: 1px solid #ecedee;
	padding: 10px
}

.screenshot-box {
	border: 1px solid #ecedee
}

.top-app-icon {
	width: 70px!important;
	height: 70px!important;
	border-radius: 80px!important
}

.about-icon {
	font-size: 18px
}

.toolbar-btn-reg {
	min-width: 10px!important
}

.toolbar-btn-login {
	min-width: 10px!important
}

.mdui-dialog-title {
	position: sticky!important;
	z-index: 1
}

.mc-dialog-full-title-only {
	position: sticky;
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	padding: 146px 45px 30px 45px;
	user-select: none;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28)!important
}

.my-documentl-title {
	position: sticky!important;
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	padding: 146px 45px 30px 45px!important;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28)!important
}

.mc-dalog-close {
	position: absolute;
	top: 15px;
	left: 13px;
	display: block;
	color: #fff
}

.dialog-register-privacy-agreement-toolbar-title {
	opacity: 0
}

.mc-dialog-action-btn {
	margin-top: 24px;
	float: right
}

.dialog-register-privacy-agreement-toolbar {
	position: sticky;
	z-index: 9
}

.dialog-register-bottom-privacy-agreement-div {
	margin-bottom: -50px!important
}

.doc-register-privacy-agreement-background {
	position: sticky;
	z-index: 9
}

.checkbox-text {
	margin-left: -10px!important
}

.mc-dialog-toolbar {
	box-shadow: 0 0 black!important;
	overflow: hidden
}

.mc-dialog-full-title {
	position: sticky;
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	padding: 135px 45px 30px 45px!important;
	user-select: none;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28)!important
}

.mc-dialog-full-title-two {
	position: sticky;
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	padding: 79px 45px 30px 45px!important;
	user-select: none;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28)!important
}

.mc-dialog-full-title-only {
	padding: 135px 45px 30px 45px
}

.mc-dialog-full {
	top: 0!important;
	min-height: 100%;
	min-width: 100%;
	border-radius: 0
}

.bottom-copyright-content {
	font-size: 12px;
	font-weight: normal
}

.beian {
	padding: 20px 10px 2px 10px
}

.copyright {
	padding: 2px 10px 20px 10px
}

.mdui-card-content {
	word-wrap: break-word!important
}

.drawer-background {
	width: 100%!important;
	height: 30%!important
}

.txt-icon-lock {
	font-size: 15px!important
}

.drawer-background-cnt {
	position: relative!important
}

.drawer-background-img {
	width: 100%!important;
	height: 200px!important;
	object-fit: cover!important
}

.content-text p {
	position: relative;
	font-size: 16px;
	text-align: left;
	width: 80%;
	left: 10%
}

.doc-container h1 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	margin: 0 0 20px 0;
	color: #3f51b5!important
}

@media(prefers-color-scheme:dark) {
	.doc-container h1 {
		color: #8ab4f8!important
	}
}

@media(min-width:480px) {
	.doc-container h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 25px 0
	}
}

@media(min-width:840px) {
	.doc-container h1 {
		font-size: 34px;
		line-height: 40px;
		margin: 0 0 30px 0
	}

	.main-layout {
		padding: 0 328px
	}
}

.doc-toc {
	margin: 0;
	font-size: 16px;
	position: relative;
	border-left: 3px solid;
	color: #3f51b5!important
}

@media(prefers-color-scheme:dark) {
	.doc-toc {
		color: #8ab4f8!important
	}
}

.doc-toc a {
	text-decoration: none;
	color: inherit
}

.doc-toc:before {
	content: '鐩綍';
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #757575
}

.doc-toc ul,.doc-toc:before {
	padding-left: 16px
}

.doc-toc ul {
	list-style: none;
	margin: 0
}

.doc-toc ul li {
	margin: 1em 0
}

.doc-toc ul li:first-child {
	margin-top: 0
}

.doc-toc ul li:last-child {
	margin-bottom: 0
}

.doc-toc ul li ul {
	margin: 1em 0;
	font-size: .83em
}

.doc-toc>ul {
	margin-top: 1em
}

@media(min-width:480px) {
	.doc-toc {
		margin-top: 0;
		font-size: 17px;
		border-left-width: 4px
	}

	.doc-toc ul,.doc-toc:before {
		padding-left: 18px
	}
}

@media(min-width:840px) {
	.doc-toc {
		margin-top: 0;
		font-size: 18px;
		border-left-width: 5px
	}

	.doc-toc ul,.doc-toc:before {
		padding-left: 20px
	}
}

.doc-chapter {
	padding: 0 0 50px 0
}

.doc-chapter h2 a {
	text-decoration: none;
	color: inherit
}

.doc-chapter h2 {
	color: #3f51b5!important
}

@media(prefers-color-scheme:dark) {
	.doc-chapter h2 {
		color: #8ab4f8!important
	}
}

.doc-chapter h2 a:before {
	background-color: transparent!important
}

.doc-chapter h2 {
	padding-bottom: .7em;
	font-weight: 400;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	margin: -50px 0 .8em 0!important
}

.doc-chapter-title {
	padding-top: -50px!important
}

.doc-chapter .doc-nowrap {
	vertical-align: baseline;
	white-space: nowrap
}

@media(prefers-color-scheme:dark) {
	.doc-chapter h2 {
		border-bottom-color: rgba(255,255,255,0.12)
	}
}

.doc-chapter h2:before {
	content: '';
	display: block;
	height: 90px;
	visibility: hidden
}

.doc-chapter h3 {
	padding-bottom: .5em;
	margin: -30px 0 .8em 0!important;
	padding-top: 30px;
	font-size: 16px
}

.doc-chapter h4 {
	font-size: 16px;
	padding-top: 72px;
	margin-top: -50px
}

.doc-chapter h5 {
	font-size: 14px;
	padding-top: 72px;
	margin-top: -50px
}

.doc-code {
	border: 0 solid rgba(0,0,0,.12)!important;
	border-radius: 10px!important;
	padding: 0;
	box-shadow: 0 0 0 rgba(0,0,0,0)
}

.doc-code-divider {
	margin: 0 6px
}

.mdui-typo pre {
	background-color: #f7f7f9;
	border: 0
}

table {
	white-space: nowrap
}

.mdui-typo h2 {
	margin-top: 0
}

.my-table-fluid {
	border-radius: 10px!important;
	border: 0 solid rgba(0,0,0,.12)
}

.my-hide-anim {
	animation-name: stylie-keyframes;
	animation-duration: .1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: 1
}

@keyframes stylie-keyframes {
	0% {
		transform: translate(0px,0px) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
	}

	100% {
		transform: translate(0px,0px) scale(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
	}
}

.sp-3balls,.sp-3balls:before,.sp-3balls:after {
	border-radius: 50%;
	background-color: #fff;
	width: 8px;
	height: 8px;
	transform-origin: center center;
	display: inline-block
}

.sp-3balls {
	position: relative;
	background: #fff;
	animation: spScaleAlpha 1s infinite linear
}

.sp-3balls::before,.sp-3balls::after {
	content: '';
	position: absolute;
	opacity: .25
}

.sp-3balls:before {
	left: 12px;
	top: 0;
	animation: spScaleAlphaBefore 1s infinite linear
}

.sp-3balls::after {
	left: -12px;
	top: 0;
	animation: spScaleAlphaAfter 1s infinite linear
}

@keyframes spScaleAlpha {
	0% {
		opacity: 1
	}

	33% {
		opacity: .25
	}

	66% {
		opacity: .25
	}

	100% {
		opacity: 1
	}
}

@keyframes spScaleAlphaBefore {
	0% {
		opacity: .25
	}

	33% {
		opacity: 1
	}

	66% {
		opacity: .25
	}
}

@keyframes spScaleAlphaAfter {
	33% {
		opacity: .25
	}

	66% {
		opacity: 1
	}

	100% {
		opacity: .25
	}
}

.captcha-image {
	position: absolute;
	right: -116px;
	bottom: 29px;
	cursor: pointer
}

.captcha-field {
	margin-right: 116px;
	overflow: visible
}