a{text-decoration: none;}

#随囧{
width: 90%; 
height: 120px;
border: 1px ;
background-color:white;
border-radius: 10px;
}

#上部小按钮{	
width: 180px; 
height: 25px;
border: 1px ;
background-color:#B0C4DE;
border-radius: 25px;
}

#空位{	
width: 90%;
height: 10px;
border: 1px ;
background-color:white;
border-radius: 10px;
}

#补位{
width:1px ; 
height: 0.4px;
border: 1px ;
background-color:#1F45FC;
border-radius: 10px;
}

#工具类框{
	  width: 90%; 
	  border: 1px ;
	 background-color:white;
	  border-radius: 18px;
	 overflow:hidden;
	  }
    
#胶囊按钮{
	  width: 200px; 
	  height: 28px;
	  border: 1px ;
	 background-color:#1F45FC;
	  border-radius: 50px;
	  }
